.home-image {
    background: url("../imgs/home-img.jpg") center / cover no-repeat;
    background-position: 50% 50% !important;
    background-size: cover !important;
    max-width: 100%;
    height: 658px;
}

.about-image {
    background: url("../imgs/about-img.jpg") center / cover no-repeat;
    background-position: 50% 50% !important;
    background-size: cover !important;
    max-width: 100%;
    height: 345px;
    zoom: 150%;
}

.contact-image {
    background: url("../imgs/contact-img.jpg") center / cover no-repeat;
    background-position: 50% 50% !important;
    background-size: cover !important;
    max-width: 100%;
    height: 345px;
    zoom: 140%;
}

.experience-image {
    background: url("../imgs/experience-img.jpg") center / cover no-repeat;
    background-position: 50% 50% !important;
    background-size: cover !important;
    max-width: 100%;
    height: 345px;
    zoom: 150%;
}

.education-image {
    background: url("../imgs/education-img.jpg")  no-repeat;
    background-position: 50% 50% !important;
    background-size: cover !important;
    position: relative;
    top: -100px;
    max-width: 100%;
    height: 420px;
    zoom: 150%;
}

.quotes-bg {
    background: url("../imgs/quotes-bg.jpg")  no-repeat -250px;
    background-position: 90% 10% !important;
    background-size: cover !important;
    position: relative;
    top: -100px;
    max-width: 100%;
    height: 420px;
    zoom: 150%;
    z-index: -1;
}