.mt-5 {
    margin-top: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-140 {
    margin-top: 140px;
}

.mt-145 {
    margin-top: 145px;
}

.mt-160 {
    margin-top: 160px;
}

.mb-5{
    margin-bottom: 5px;
}

.ml-10{
    margin-left: 10px;
}

.ml-20{
    margin-left: 20px;
}
.ml-50{
    margin-left: 50px;
}

.ml-70{
    margin-left: 70px;
}

.ml-400{
    margin-left: 400px;
}

.mr-0{
    margin-right: 0px;
}

.mr-10{
    margin-right: 10px;
}

.mr-30{
    margin-right: 40px;
}